<div class="edit_page">

<h1> Editing elixir </h1>

<%= form_for @solution do |f| %>

<% if @solution.errors.any? %>
		<div id="error_explanation" >
			<h2>
				<%= pluralize(@solution.errors.count, "error") %> prohibited this solution from being saved: </h2>
			<ul>
				<% @solution.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

<table class="sol_ingredients">
	<div class= "solution_name">
	<p> 
		<%= f.label "Solution Name" %><br>
		<%= f.text_field :name %>
	</p>
	</div>

	<div class= "solute_names">
	<p> 
		<%= f.label "Solute Name" %><br>
		<%= f.text_field :solute_name_one %>
	</p>

	<p> 
		<%= f.label "Solute Name" %><br>
		<%= f.text_field :solute_name_two %>
	</p>

	<p>
		<%= f.label "Solute Name" %><br>
		<%= f.text_field :solute_name_three %>
	</p>

	<p> 
		<%= f.label "Solute Name" %><br>
		<%= f.text_field :solute_name_four %>
	</p>

	<p> 
		<%= f.label "Solute Name" %><br>
		<%= f.text_field :solute_name_five %>
	</p>
	</div>

	<div class= "solutes">
	<p> 
		<%= f.label "Solute Concentration [M]" %><br>
		<%= f.text_field :solute_one %>
	</p>

	<p> 
		<%= f.label "Solute Concentration [M]" %><br>
		<%= f.text_field :solute_two %>
	</p>

	<p>
		<%= f.label "Solute Concentration [M]" %><br>
		<%= f.text_field :solute_three %>
	</p>

	<p> 
		<%= f.label "Solute Concentration [M]" %><br>
		<%= f.text_field :solute_four %>
	</p>

	<p> 
		<%= f.label "Solute Concentration [M]" %><br>
		<%= f.text_field :solute_five %>
	</p>
	</div>

	<div class= "stocks">
	<p> 
		<%= f.label "Stock Concentration [M]" %><br>
		<%= f.text_field :stock_one %>
	</p>

	<p> 
		<%= f.label "Stock Concentration [M]" %><br>
		<%= f.text_field :stock_two %>
	</p>

	<p> 
		<%= f.label "Stock Concentration [M]" %><br>
		<%= f.text_field :stock_three %>
	</p>

	<p> 
		<%= f.label "Stock Concentration [M]" %><br>
		<%= f.text_field :stock_four %>
	</p>

	<p> 
		<%= f.label "Stock Concentration [M]" %><br>
		<%= f.text_field :stock_five %>
	</p>
	</div>
</table>

	<div class="final_volume">
	<p>
		<%= f.label "Final Volume (mL)" %><br>
		<%= f.text_field :final_volume %>
	</p>
	</div>

	<div class="submit">
	<p>
		<%= f.submit %>
	</p>
	</div>
<% end %>
</div>

	    <td><%= link_to 'Back', solutions_path %> </td>