<h1><%= @place.name %></h1>

<ul>
	<li>Rating: <%= @place.rating %></li>
	<li>Description: <%= @place.description %></li>
	<li>Location: <%= @place.location %></li>
</ul>

<%= link_to 'Back', places_path %>